<div class="form-style-8">
    <h1>Editing User</h1>
    
    <%= render 'form', user: @user %>
    <button><%= link_to 'Show', @user %></button>
    <button><%= link_to 'Back', users_path %></button>
    
</div>
